<p id="notice"><%= notice %></p>

<h1>Listing Conteudos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Disciplina</th>
      <th>Status conteudo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conteudos.each do |conteudo| %>
      <tr>
        <td><%= conteudo.nome %></td>
        <td><%= conteudo.disciplina.nome %></td>
        <td><%= conteudo.status_conteudo.nome %></td>
        <td><%= link_to 'Show', conteudo %></td>
        <td><%= link_to 'Edit', edit_conteudo_path(conteudo) %></td>
        <td><%= link_to 'Destroy', conteudo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Conteudo', new_conteudo_path %>
