<%= form_for(@horario) do |f| %>
  <% if @horario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@horario.errors.count, "error") %> prohibited this horario from being saved:</h2>

      <ul>
      <% @horario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :inicio %><br>
    <%= f.datetime_select :inicio %>
  </div>
  <div class="field">
    <%= f.label :termino %><br>
    <%= f.datetime_select :termino %>
  </div>
  <div class="field">
    <%= f.label :dia_semana %><br>
    <%= f.number_field :dia_semana %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
